*{
	margin: auto;
	padding: auto;
	text-align: center;
	font-family: 'メイリオ',Meiryo,'AXIS Std L','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
}

.ninja_onebutton{
	margin: auto;
	width: 280px;
}

.contents{
}

.explain{
	margin-top: 50px;
	font-size: 1.5em;
}

.quiz_area{
	margin-top: 100px;
	padding: 50px 0px 50px 0px;
	width: 60%;
	height: 200px;
	border: solid #b343c8 1px;
	border-radius: 30px;
	display: table;
}

.result_area{
	margin-top: 100px;
	padding: 50px 0px 50px 0px;
	width: 60%;
	height: 200px;
	border: solid #b343c8 1px;
	border-radius: 30px;
	display: table;
}

.vertical-middle{
	display: table-cell;
	vertical-align: middle;
}

#dqn_name{
	font-size: 2em;
}

#input_text{
	margin-top: 30px;
	font-size: 2em;
	line-height: 30px;
}


#result_table{
	width: 700px;
	font-size: 2em;
}

.table_left{
	width: 70%;
	height: 60px;
	text-align: left;
}

.table_right{
	text-align: center;
}

#result{
	position: relative;
	z-index: 5;
}

#tweet{
	margin-top: 30px;
	margin-bottom; 30px;
}

