<!DOCTYPE HTML>
<html lang="UTF-8">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/myFunc.js"></script>
	<title>キラキラネーム プラクティス</title>
</head>

<body>
	<header class="page_header">
		<a href="/"><img src="/static/img/logo.png"></a>
	
		<div id="social_button">
    	<div class="ninja_onebutton">
				<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_a881c0377531f5f472e5d948ad3214f0)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/a881c0377531f5f472e5d948ad3214f0'><\/sc"+"ript>");
}else{ 
    window.NINJA_CO_JP_ONETAG_BUTTON_a881c0377531f5f472e5d948ad3214f0.ONETAGButton_Load();}
})(document);
//]]>
				</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
			</div>
		</div>
 </header>

	<section class="contents">
		<article class="explain">
			<p>
				さいきん ふえてきた すてきな キラキラネーム<br />
				でも よみかたが わからない って ひとが おおいみたい ＞＜<br />
				すてきな なまえの おともだちを ふやすために<br />
				クイズを しながら べんきょう しましょう ♪
			</p>
		</article>

		<section class="quiz_area">
			<div class="vertical-middle">
				<img src="/static/img/start.gif" onclick="start_quiz();">
			</div>
		</section>
	
	</section>

</body>
</html>
